body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f8f9fa;
  color: #0a2540;
}

.logo img {
  margin-right: 8px;
}

a {
  text-decoration: none;
  color: #0a2540;
  font-weight: 500;
}

.btn-outline-danger {
  border: 1px solid #dc3545;
  color: #dc3545;
}
